*{
    padding: 5px;
    margin:5px;
}


.container{
    display: flex;
    gap: 20px;
    padding: 20px;
}


.side {
    flex: 1;
  padding: 20px;
  border-radius: 10px;
  background: peachpuff;
  height: 500px;
  width: 30%;
 

}
.box{
    flex: 2;
    background: peachpuff;
    height: 400px;
    width: 70%;
    padding: 20px;
  border-radius: 10px;
}
table{
   border: 1px solid white;
   padding: 10px;
}
